<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
     <!--If choose 'true' data will be stored in database otherwise won't.-->
    <add key="StorDataInDB" value="true"/>
    
     <!--If choose 'true' data will be stored in Json format file otherwise won't.-->
    <add key="StorDataInJSON" value="true"/>
    
    <!--if choose 'true' log will write in txt format file otherwise will write in Windows Event Log.-->
    <add key="LogInTxtFile" value="true"/> 
    
     <!--Path through what will be stored Json files.-->
    <add key="JsonPath" value=""/>
    
    <!--Path through what will be written logs in text format file.-->
    <add key="LogFileDirectory" value=""/>
    
     <!--Path for monitoring.-->
    <add key="MonitoringDirectory" value="" />
    
     <!--Path for wrong files.-->
    <add key="WrongFilesDirectory" value="" />
    
     <!--Percentage of machine cores for using.-->
    <add key="PrcentOfCore" value="70"/>
  
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Connection" connectionString="Server=tcp:micinternship.database.windows.net,1433; Database=praemium2;User ID=mic;Password=Admin.Pa$$;Encrypt=True; Pooling=true;"/>
  </connectionStrings>
</configuration>