<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="PrcentOfCore" value="70"/>
    <add key="StorDataInDB" value="true"/>
    <add key="StorDataInJSON" value="true"/>
    <add key="JsonPath" value=""/>
    <add key="MonitoringDirectory" value="" />
    <add key="WrongFilesDirectory" value="" />
    
    <!--if choose 'true' log will write in txt file otherwise will write in Windows EventLog.-->
    <add key="LogInTxtFile" value="true"/> 
    <add key="LogFileDirectory" value=""/>
    
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Connection" connectionString="Server=tcp:micinternship.database.windows.net,1433; Database=praemium2;User ID=mic;Password=Admin.Pa$$;Encrypt=True; Pooling=true;"/>
  </connectionStrings>
</configuration>